{% extends 'admin.twig' %}

{% block content %}
    <div vue-entry="WooCommerceAnalytics.Download"
         download-link="{{ linkTo({'action': 'download', 'module': 'WooCommerceAnalytics'}) }}">
    </div>
{% endblock %}