<div
    vue-entry="MediaAnalytics.GettingStarted"
    site-name="{{ siteName|json_encode }}"
    piwik-js-writable="{{ piwikJsWritable|default(false)|json_encode }}"
    piwik-url="{{ piwikUrl|default(null)|json_encode }}"
></div>
