<span id="logo" class="logo brand-logo {% if centeredLogo is defined and centeredLogo %}center{% endif %}">
    {% if logoLink is not defined or logoLink is not empty %}
        <a href="{{ logoLink|default('index.php') }}" tabindex="-1" title="{{ 'General_PoweredBy'|translate }}">
    {% endif %}

        <svg viewBox="0 0 676.2 197.6" width="150" xmlns="http://www.w3.org/2000/svg"><path d="m179.2 100.1c0-43.5 31-65.2 64.6-65.2 32 0 55 18.8 56.6 46.1h-27.1c-2-13.7-13.3-22.6-29.7-22.6-21.7 0-38.4 15.3-38.4 41.7s16.8 43 37.9 43c15.8 0 31.5-11.5 31.5-23.3 0-3.1-2-5.1-5.1-5.1h-24.6v-20.6h34.6c11.8 0 20.6 9.5 20.6 20.6v49.2h-24.2v-19.5c-4.2 12.6-17.7 20.9-34.1 20.9-32.5 0-62.6-21.6-62.6-65.2zm139.7-67.9h25.3v52.6c5.1-8.9 15.3-14.2 28-14.2 20.6 0 34.1 14.9 34.1 36.1v57.2h-25.5v-51.6c0-11.1-7.1-19.1-17.7-19.1-11.1 0-18.9 8.6-18.9 20.4v50.3h-25.3zm101.9 85.8c0-27.3 20.2-47.3 48.4-47.3s48.4 20 48.4 47.3-20.2 47.3-48.4 47.3c-28.1 0-48.4-20-48.4-47.3zm48.5 25.5c13.7 0 22.9-10.4 22.9-25.5 0-15.3-9.3-25.7-22.9-25.7-13.7 0-22.9 10.4-22.9 25.7-.1 15.1 9.2 25.5 22.9 25.5zm58.4-10.6h21.9c1.1 8.2 7.5 13.3 16.8 13.3 8 0 13.3-3.8 13.3-8.9 0-18.8-49.3-.4-49.3-39 0-16.2 14.2-27.7 33-27.7 22 0 37 11.8 37.7 29.9h-21.9c-1.1-7.8-8.4-12-15.1-12-7.3 0-12 3.1-12 8.9 0 18.8 50.1-2.5 50.1 39 0 17.5-14 29-35.7 29-22.6-.1-37.7-12.6-38.8-32.5zm123.9-87.9v27.1h24.6v21.1h-24.6v36.2c0 8.9 4.6 13.1 12.7 13.1h11.8v21.3h-15.1c-21.1 0-35-12-35-33.3v-37.3h-17.5v-21.1h17.5v-27.1z"/><path d="m65.2 0c-36 0-65.2 29.2-65.2 65.2v88.7c0 5.1 4.1 9.2 9.2 9.2s9.2-4.1 9.2-9.2c0-.3 0-.7-.1-1v-14.4c0-5 4.1-9.1 9.1-9.1s9.1 4.1 9.1 9.1v32.9c0 5.4 4.4 9.7 9.7 9.7s9.7-4.4 9.7-9.7v-47.4c0-5.4 4.7-9.7 10.1-9.1 4.6.5 8.1 4.6 8.1 9.3v64.4c.4 5 4.6 9 9.7 9s9.3-4 9.7-9v-.4-.4-55c0-5.4 4.7-9.7 10.1-9.1 4.6.5 8.1 4.6 8.1 9.3v38.3c.1 5 4.2 8.9 9.2 8.9s9-4 9.2-8.9v-106c.4-36.1-28.8-65.3-64.9-65.3zm-18.7 71.3c-5.4 0-9.8-4.4-9.8-9.8s4.4-9.8 9.8-9.8 9.8 4.4 9.8 9.8-4.4 9.8-9.8 9.8zm37.9 0c-5.4 0-9.8-4.4-9.8-9.8s4.4-9.8 9.8-9.8 9.8 4.4 9.8 9.8-4.4 9.8-9.8 9.8z" fill="#6439f5"/></svg>

    {% if logoLink is not defined or logoLink is not empty %}
        </a>
    {% endif %}
</span>
