<div
  vue-entry="Funnels.SalesFunnel"
  id-funnel="{{ idFunnel|default(null)|json_encode }}"
  is-funnel-edit="{{ isFunnelEdit|default(false)|json_encode }}"
  goals="{{ goals|json_encode }}"
></div>
