<div
    vue-entry="Cohorts.CohortControls"
    selected-metric="{{ selectedMetric }}"
    selected-limit="{{ selectedLimit }}"
    metrics="{{ metrics|json_encode }}"
    limits="{{ limits|json_encode }}"
></div>